# Normalize line endings to CRLF on checkout
* text eol=crlf

# Git kept corrupting binary files
# by trying to convert them to CRLF
*.iwi binary
*.lib binary
*.ttf binary
*.ico binary

# Git kept corrupting source files so let's fix them
*.c text
*.h text
*.cpp text
*.hpp text
*.def text
*.gsc text
*.csc text
*.txt text
*.md text
*.rc text

# Ensure that materials are stored as binary
components/resource/raw/materials/* binary
components/resource/raw/material_properties/* binary
