*.user
*.suo
*.sdf
*.ipch
*.log
*.opensdf
*.vcxproj.filters
*.nvuser
*.opendb
*.db
*.tlog
*.aps

!components/asset_util/asset_util.vcxproj.filters

/build
/ipch
/.vs
/tmp

/Debug
/Release
/Production

components/sdk
components/game_mod/steam
components/*/Debug
components/*/Release
components/*/Production
components/shared/*/Debug
components/shared/*/Release
components/shared/*/Production
components/D3DBSP_Lib/*/Release
components/D3DBSP_Lib/*/Debug
components/D3DBSP_Lib/*/Production
components/launcher/imgui.ini

components/gsc_parser/src/cpp/parser

!*.lib

installer/tmp