*.user
*.suo
*.sdf
*.ipch
*.log
*.opensdf
*.vcxproj.filters
*.nvuser
*.opendb
*.db
*.tlog

!components/asset_util/asset_util.vcxproj.filters

/build
/ipch
/.vs

components/sdk
components/game_mod/steam
components/*/Debug
components/*/Release
components/shared/*/Debug
components/shared/*/Release
components/D3DBSP_Lib/*/Release
components/D3DBSP_Lib/*/Debug
components/launcher/imgui.ini

!*.lib